*{
  gap: 0;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(241, 241, 241);
  height: 100px;
}

a {
  text-decoration: none;
  color: black;
}

.cards{
  display: flex;
  margin: 20px;
  width: 1200px;
}

.cards > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.card {
  display: flex;
  width: 300px;
  justify-content: space-between;
  flex-direction: column;
  min-height: 500px;
}

.card > img {
  border: 1px solid black;
}

.card > h2 {
  font-weight: 700;
  line-height: 1.7;
  border-bottom: 1px solid gray;
}

.card > h3 {
  font-weight: 700;
}

.card > p {
  margin-top: 7px;
  line-height: 1.2;
}

.cartButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0 5px 0;
  font-size: 12px;
}

.cartButton > span {
  background-color: rgb(204, 196, 196);
  font-size: 20px;
}

.cartButton button {
  padding: 6px;
  width: max-content;
  border: none;
  cursor: pointer;
  background-color: rgb(231, 231, 231);
}

@media (max-width: 1000px) {
  .cards {
    width: 800px;
  }

  .cards > ul {
    gap: 60px;
  };
}

@media (max-width: 700px) {
  .cards {
    width: 400px;
  };  
}